header {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
  font-size: 24px;
}

form {
  padding: 20px;
  text-align: center;
}

.rodape {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
}

.nav {
  background-color: #333;
  padding: 10px 0;
}

.nav-link {
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
}

.btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #000;
}
